@use "../../styles/mixin.scss" as *;

.counter{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .number{
    color: var(--color-gray10-10);
    line-height: 0.7em;
    font-size: 6rem;
    text-align: center;
    animation: punch linear forwards 0.2s;
    @keyframes punch {
      from{ transform: scale(0.9); }
      50%{ transform: scale(1.2); }
      to{ transform: scale(1); }
    }
  }
}
.gameTimerWrap{
  margin: 1rem auto;
}
.wordsWrap{
  margin: 1rem auto;
}
.buttonGroup{
  display: flex;
  &:not(:last-child){
    margin-bottom: 0.5rem;
  }
  .stepButton{
    flex: 1 1 0;
    gap: 0.5rem;
    border: none;
    background-color: var(--color-point5-1);
    color: var(--color-gray10-10);
    padding: 2em;
    width: 100%;
    border-radius: 0.5rem;
    &:hover{
      background-color: var(--color-point5-0);
    }
    &:not(:last-child){
      margin-right: 0.5rem;
    }
  }
}


.gameTimer{
  width: 100%;
  height: 1em;
  border-radius: 1em;
  background-color: var(--color-gray10-2);
  position: relative;
  .progress{
    left: 0;
    position: absolute;
    height: 100%;
    border-radius: 1em;
    background-color: var(--color-point5-3);
    animation: time linear forwards;
    animation-duration: 0;
    @keyframes time {
      from{
        width: 0;
      }
      to{
        width: 100%;
      }
    }
  }
}
