// color.scss
$theme-light-gray-color: hsl(0, 0%, 99%);
$theme-light-primary-color: hsl(260, 100%, 96%);
$theme-light-point-color: hsl(216, 100%, 96%);

$theme-dark-gray-color: hsl(0, 0%, 6%);
$theme-dark-primary-color: hsl(260, 40%, 20%);
$theme-dark-point-color: hsl(216, 40%, 20%);

//themes.scss
:root {
	--color-gray10-0: #{$theme-light-gray-color};
	--color-gray10-1: #{darken($theme-light-gray-color, 4%)};
	--color-gray10-2: #{darken($theme-light-gray-color, 12%)};
	--color-gray10-3: #{darken($theme-light-gray-color, 30%)};
	--color-gray10-4: #{darken($theme-light-gray-color, 40%)};
	--color-gray10-5: #{darken($theme-light-gray-color, 50%)};
	--color-gray10-6: #{darken($theme-light-gray-color, 60%)};
	--color-gray10-7: #{darken($theme-light-gray-color, 70%)};
	--color-gray10-8: #{darken($theme-light-gray-color, 80%)};
	--color-gray10-9: #{darken($theme-light-gray-color, 90%)};
	--color-gray10-10: #{darken($theme-light-gray-color, 95%)};

	--color-primary5-0: #{$theme-light-primary-color};
	--color-primary5-1: #{darken($theme-light-primary-color, 5%)};
	--color-primary5-2: #{darken($theme-light-primary-color, 10%)};
	--color-primary5-3: #{darken($theme-light-primary-color, 20%)};
	--color-primary5-4: #{darken($theme-light-primary-color, 30%)};
	--color-primary5-5: #{darken($theme-light-primary-color, 40%)};

	--color-point5-0: #{$theme-light-point-color};
	--color-point5-1: #{darken($theme-light-point-color, 5%)};
	--color-point5-2: #{darken($theme-light-point-color, 10%)};
	--color-point5-3: #{darken($theme-light-point-color, 20%)};
	--color-point5-4: #{darken($theme-light-point-color, 30%)};
	--color-point5-5: #{darken($theme-light-point-color, 40%)};

	&[data-dark] {
		--color-gray10-0: #{$theme-dark-gray-color};
		--color-gray10-1: #{lighten($theme-dark-gray-color, 10%)};
		--color-gray10-2: #{lighten($theme-dark-gray-color, 20%)};
		--color-gray10-3: #{lighten($theme-dark-gray-color, 30%)};
		--color-gray10-4: #{lighten($theme-dark-gray-color, 40%)};
		--color-gray10-5: #{lighten($theme-dark-gray-color, 50%)};
		--color-gray10-6: #{lighten($theme-dark-gray-color, 60%)};
		--color-gray10-7: #{lighten($theme-dark-gray-color, 70%)};
		--color-gray10-8: #{lighten($theme-dark-gray-color, 80%)};
		--color-gray10-9: #{lighten($theme-dark-gray-color, 90%)};
		--color-gray10-10: #{lighten($theme-dark-gray-color, 95%)};

		--color-primary5-0: #{$theme-dark-primary-color};
		--color-primary5-1: #{lighten($theme-dark-primary-color, 5%)};
		--color-primary5-2: #{lighten($theme-dark-primary-color, 10%)};
		--color-primary5-3: #{lighten($theme-dark-primary-color, 20%)};
		--color-primary5-4: #{lighten($theme-dark-primary-color, 30%)};
		--color-primary5-5: #{lighten($theme-dark-primary-color, 40%)};

		--color-point5-0: #{$theme-dark-point-color};
		--color-point5-1: #{lighten($theme-dark-point-color, 5%)};
		--color-point5-2: #{lighten($theme-dark-point-color, 10%)};
		--color-point5-3: #{lighten($theme-dark-point-color, 20%)};
		--color-point5-4: #{lighten($theme-dark-point-color, 30%)};
		--color-point5-5: #{lighten($theme-dark-point-color, 40%)};
	}
}

button{
	color: var(--color-gray10-10);
	background-color: var(--color-primary5-0);
}
