// font.scss

//Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'DOSGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DOSIyagiMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sam3KRFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
	// font-family: 'Noto Sans KR', sans-serif;
	// font-family: 'DOSGothic', sans-serif;
	// font-family: 'DOSIyagiMedium', sans-serif;
	font-family: 'Sam3KRFont', sans-serif;
}