@use "../../styles/mixin.scss" as *;

.footer {
  @include themeChange;
  background: var(--color-gray10-1);
  color: var(--color-gray10-4);
  text-align: center;
  padding: 1rem 0;
  >p{
    margin: 0;
    font-size: 0.75em;
    line-height: 1.2em;
  }
  a{
    @include themeChange;
    color: var(--color-gray10-4);
    font-weight: 600;
  }
}