@use "../styles/mixin.scss" as *;

.projectList{
  @include themeChange;
  background-color: var(--color-gray10-1);
  color: var(--color-gray10-9);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 12rem));
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 0;
  .projectItem{
    @include themeChange;
    background-color: var(--color-gray10-0);
    color: var(--color-gray10-10);
    border-radius: 0.2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    box-shadow: 0 0.3rem 0.25rem rgba(0, 0, 0, 0.3);
    &:active{
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
      top: 0.1rem;
    }
  }
}
