.toggle{
  cursor: pointer;
  // overflow: hidden;
  position: relative;
  input{
    height: 0;
    width: 0;
    display: none;
    & ~ .lightIcon{
      animation: 1s up forwards;
    }
    & ~ .darkIcon{
      animation: 1s down forwards;
    }
    &:checked{
      & ~ .lightIcon{
        top: 10px;
        animation: 1s down forwards;
      }
      & ~ .darkIcon{
        animation: 1s up forwards;
      }
    }
  }
  svg{
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
  }
}


@keyframes up {
  0% {
    opacity: 0;
    top: -200%;
  }
  30% {
    opacity: 0.5;
    top: -50%;
  }
  70% {
    opacity: 1;
    top: -50%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes down {
  0% {
    opacity: 1;
    top: 0;
  }
  30% {
    opacity: 1;
    top: -50%;
  }
  70% {
    opacity: 0.5;
    top: -50%;
  }
  100% {
    opacity: 0;
    top: -200%;
  }
}