.newHistory{
}

.card {
  height: 10rem;
  color: var(--color-text);
  background-color: var(--color-background-gray2);
  .game-option{
    .label{
      
    }
    .value{
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }
}