@use "../styles/mixin.scss" as *;

.targetWords{
  font-size: 2rem;
  position: relative;
  margin: auto;

  .cursor{
    display: grid;
    gap: 0.2em;
    position: absolute;
    width: 100%;
    height: 100%;
    .step{
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 1.8em;
      left: 0;
      border-radius: 0.2rem;
      transition: 0.2s ease-out transform;
      border: 0.2rem solid var(--color-primary5-1);
      &.mine{
        border: 0.2rem solid var(--color-primary5-5);
      }
    }
  }

  .text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, auto));
    gap: 0.2em;
    .char{
      background: var(--color-gray10-1);
      color: var(--color-gray10-10);
      border-radius: 0.5rem;
      width: 1.8em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}